.market {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.market_content {
  padding: 10px;
  margin: 10px 10px;

  width: 85%;
  height: 93%;

  border: 2px solid #dedede;
  border-radius: 10px;
  background-color: #e8e8e8;

  display: flex;
  flex-direction: column;
}
.money_area {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 5px;
}

.offer_filter { 
  display: flex;
  justify-content: flex-end;
  gap: 5px;
}
.offer_list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}