.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.cards>span {
  padding: 5px;
  width: 100%;

  text-align: center;

  border-bottom: 2px solid #dedede;
  background-color: #e8e8e8;
}

.cards .selected_cards_area {
  padding: 5px;
  width: 100%;

  text-align: center;

  border-bottom: 2px solid #dedede;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: #e8e8e8;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
}

.cards .selected_cards_area span {
  padding: 3px 0;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}