@import url("../components/shared/buttons/buttons.css");
@import url("../components/shared/dialog/dialog.css");
@import url("../components/shared/card/card.css");
@import url("../components/shared/inputs/inputs.css");
@import url("../components/shared/toast/toast.css");
@import url("../components/shared/float/float.css");
@import url("../components/shared/fade/fade.css");
@import url("../components/shared/side_menu/side_menu.css");
@import url("../components/shared/search/search.css");

@import url("../components/shared/top_menu/top_menu.css");
@import url("../components/shared/footer/footer.css");

@import url("../components/pages/market/market.css");
@import url("../components/pages/market/package.css");
@import url("../components/pages/cards/cards.css");
@import url("../components/pages/pokedex/pokedex.css");
@import url("../components/pages/duel/search.css");
@import url("../components/pages/duel/open_room.css");
@import url("../components/pages/duel/duel.css");
@import url("../components/pages/ranking/ranking.css");

@import url("../components/pages/profile/profile.css");
@import url("../components/pages/relationship/relationship.css");
@import url("../components/pages/settings/settings.css");

@import url("../components/pages/signin/signin.css");
@import url("../components/pages/signup/signup.css");
@import url("../components/pages/signout/signout.css");


* {
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: monospace;
  font-weight: 900;
}
body{
  background: url("../assets/images/page-bg.jpg");
  position: relative;
}
body::after {
  content: "";
  width: 100vw;
  height: 100vh;

  background-color: #000a;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

main {
  height: 100vh;
  overflow: hidden;
}

section {
  padding-top: 44px;
  height: calc(100% - 44px - 35px);
}

*.hide {
  display: none;
}

.icon {
  width: 23px;
  height: 23px;

  cursor: pointer;
}

.page_menu {
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.separator_horizontal{
  height: 3px;
  width: 100%;

  background-color: #ababab;
}

[class*="cards_area"] {
  padding: 10px 10px;
  width: 97vw;

  background-color: #e8e8e8;
  border-radius: 15px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 0.3vw;
}