#cards {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cards.hide {
  display: none;
}

#cards>span {
  padding: 5px;
  width: 100%;

  text-align: center;

  border-bottom: 2px solid #dedede;
  background-color: #e8e8e8;
}

.selected_cards_area {
  padding: 5px;
  width: 100%;

  text-align: center;

  border-bottom: 2px solid #dedede;
  background-color: #e8e8e8;

  position: relative;
}